.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
.containerMovie {
  width: 300px;
  margin: 10px;
}

.navBar {
  background-color: #e9ecef;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
.search {
  width: 10%;
  margin-right: 5px;
  margin-left: 20px;
}
.abc {
  display: flex;
  flex-direction: column;
}

.detailMovie {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.leftDiv {
  display: flex;
  flex-direction: column;

  padding: 10px;
}
.leftDiv img {
  width: 100%;
  height: 500px;
  padding: 10px;
}
.rightDiv {
  width: 70%;
}
